@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorBlack: #222222;
    --colorSilver: #f6f7f8;
    --colorGrey: #030707;
    --colorLighGrey: #f6f7f8;
    --colorDarkGrey: #7a898e;
    --colorBlue: #88a8a9;
    --colorBlueAction: #0171e3;
    --colorBeige: #f9f6f5;
    --colorGreen: #4d9f53;
    --colorOrange: #ff9143;
    --colorRed: #e65426;
    --colorArtDepot: #748a8f;
    --colorArtOffice: #397b7c;
    --colorArtSpaces: #28464b;
    --colorArtSpaces20: #d4dadb;
    --colorArtAugmented: #005e74;
    --white-grey: rgb(231, 231, 231);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    text-align: center;
    overflow-x: hidden;

}


/* 1.navbar */

nav {

    width: 100%;
    height: 2.5rem;
background-color: #2222229d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
/* 
nav::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorBlack);
    opacity: 0.4;
    z-index: -1;
} */

.left {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f6f7f800;
}

.left img {
    max-width: 12rem;
}

nav .mid ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position: relative;
}

nav .mid ul li {
    padding: .8rem;
    position: relative;
}


nav .mid ul li a {
    color: black;
    text-decoration: none;
    font-size: .9rem;
    letter-spacing: .5px;
    font-weight: 600;
    font-family: 'Poppins';
    text-transform: capitalize;
}

.bar {
    background-color: var(--colorArtSpaces20);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3.5px;
    width: 0;
    transition: width 0.3s ease-in-out;
}



nav .mid ul li:hover .bar {
    width: 70%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.right button {
    font-size: 10px;
    text-align: center;
    padding: .3rem .8rem;
    font-family: 'poppins';
    border: none;
    background-color: var(--colorRed);
    color: white;
    letter-spacing: 1px;
    border-radius: 2px;
    text-transform: capitalize;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.right button:hover {
    background-color: #222222c7;
}

.login button {
    background-color: transparent;
    color: black;
    border: 1.5px solid black;
    font-weight: bold;
    font-size: .8rem;
}

.register button {
    font-size: .8rem;
}

.login button:hover {
    background-color: #22222244;
}


#check-btn {
    display: none;
}

#fa-bars {
    display: none;
}






/* 2.Hero section */

.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: 'roboto';
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?q=80&w=1420&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-image: linear-gradient(to left top, #5c6778, #667b84, #7a8e8e, #93a099, #aeb1a9);
    background-image: linear-gradient(to right top, #a1999d, #9c959b, #969198, #908d96, #898994, #8a90a0, #8798ac, #81a0b6, #79b6cf, #6dcde2, #60e4ed, #5ffbf1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    filter: blur(1.5px);

}


.hero .hero-container {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
}


.home-heading {
    z-index: 1;
    font-weight: 600;
    margin: .8rem 0;
    width: 100%;
}

.home-heading h1 {
    font-size: 3.5rem;
    color: var(--colorBlack);
    font-weight: 800;
    letter-spacing: 1px;
    font-family: 'Poppins';
    width: 100%;
}

.home-heading span {
    text-transform: uppercase;
    color: var(--colorArtSpaces);
    font-size: 3.5rem;
}

.home-heading span>span {
    font-weight: normal;
}

.home-para {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.home-para p {
    color: #414141;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins';
    z-index: 1;
}


.exhibition {
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0% 100%);
}



/* Media query for nav bar and home page */

@media screen and (max-width:768px) and (min-width:425px) {

    nav {
        background-color: #222222b7;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 3.5rem;

    }

    nav .mid ul {
        display: none;
    }

    #fa-bars {
        display: block;
    }

    .right .login button {
        border: none;
        background-color: var(--colorBeige);
        padding: 2px 4px;
        margin: 0;
    }

    .right .register button {
        background-color: #e65426;
        padding-inline-start: 2px 4px;
        margin: 0;
    }


    .home-heading h1 {
        font-size: 3rem;
    }

    .home-heading span {
        font-size: 3rem;
    }

    .home-para p {
        font-size: 1.5rem;
    }

}


@media (max-width:424px) {


    .hero {
        background: fixed no-repeat center;
    }

    nav {
        background-color: #222222b7;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 3.5rem;
    }

    .left img {
        width: 10rem;
        margin-left: 1rem;
    }

    nav .mid ul {
        display: none;
    }

    #fa-bars {
        display: block;
        font-size: 1.3rem;
        margin-right: 1rem;
    }

    .right .login button {
        border: none;
        margin: 0;
        font-size: .6rem;
        padding: 0;
        margin-left: .5rem;
        color: white;
    }

    .right .register button {
        background-color: #e65426;
        padding-inline-start: 2px 4px;
        margin: 0;
        padding: 3px 3px;

    }

    #fa-bars {
        margin-right: 1rem;
        padding-left: .7rem;
    }

    .home-heading h1 {
        font-size: 2.2rem;
    }

    .home-heading span {
        font-size: 2.2rem;
    }

    .home-para p {
        font-size: 1.3rem;
    }

}



/* exhibition section */

.exhibition-page {
    width: 100vw;
    height: 100vh;
    opacity: .9;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease;
    background-color: var(--colorLighGrey);


}








/* grid-galler */

.gallery-heading {
    width: 100%;
    opacity: .6;
    z-index: -1;
}

.gallery-heading h1 {
    font-size: 1.4rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    font-family: 'Poppins';
    text-align: center;
    z-index: 1;

}

.grid-gallery {
    padding: 1rem;
    width: 55%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    gap: 1.5rem;
    position: relative;
    transition: background-color .3s ease;
}

.art-type {
    font-weight: 600;
    font-size: .7rem;
    font-family: 'Poppins';
    color: var(--colorDarkGrey);
    position: relative;
    z-index: 1;

}

.painter {
    font-size: .8rem;
    color: var(--colorBlack);
    font-weight: 800;
    font-family: 'Roboto';
    position: relative;
    z-index: 1;
}


.grid-gallery .grid-item img {
    width: 10rem;
    border-radius: 4px;
}


.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--colorLighGrey);
    transition: all .3s ease-in-out;
    position: relative;
    z-index: 1;
    margin: .5rem;
}


.grid-item:hover {
    z-index: 2;
    transform: scale(1.4);
    background-color: white;
}




.modernArt {
    font-family: 'Poppins';
    width: auto;
    margin: 1rem 0;

}

.modernArt h1 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.modernArt p {
    font-size: .9rem;
}

.modernArt div i {
    font-size: 1.4rem;
    padding: .8rem;
    color: black;
}

.modernArt i:hover {
    cursor: pointer;
}